In [1]:
import pandas as pd
from tqdm.notebook import tqdm
from os.path import basename, splitext
import supervision as sv
from supervision.metrics import MeanAveragePrecision
from tempfile import mkdtemp
from ultralytics import YOLO
import os
os.environ["CUDA_VISIBLE_DEVICES"] = "0"  # Set GPU

In [2]:
# Path to CSV
result_df_path='/home/umang.shikarvar/map/Delhi_to_WB.csv'

# Load trained YOLO model
model = YOLO("/home/umang.shikarvar/instaformer/runs/obb/train36/weights/best.pt")

# Name of the experiment
experiment="Delhi(CUT)_to_WB"

# GT
gt="/home/umang.shikarvar/instaformer/wb_small_airshed"

In [3]:
# Class information in YAML file
data_yml_save_path = mkdtemp()
data_yml = """train: dummy
val: dummy
nc: 3
names: ["CFCBK", "FCBK", "Zigzag"]
"""
data_yml_path = f"{data_yml_save_path}/data.yml"
with open(data_yml_path, "w") as f:
    f.write(data_yml)

# GT directories
gt_image_dir = gt+"/images"
gt_label_dir = gt+"/labels"

# Supervision dataset
sv_dataset = sv.DetectionDataset.from_yolo(gt_image_dir, gt_label_dir, data_yml_path)
print(f"Loaded dataset: {len(sv_dataset)} images")

# Initialize lists for predictions and targets
targets = []
predictions = []

# Iterate over the dataset and make predictions
for name,_,gt_detection in tqdm(sv_dataset):
    file_name=splitext(basename(name))[0]
    # prediction_path=join(prediction_dir,f"{file_name}.txt")
    ultralytics_result=model(name,imgsz=640,iou=0.33,conf=0.001,exist_ok=True,save_txt=False,max_det=300, verbose=False)[0]
    sv_detection=sv.Detections.from_ultralytics(ultralytics_result)
    targets.append(gt_detection)
    predictions.append(sv_detection)

Loaded dataset: 77 images

  0%|          | 0/77 [00:00<?, ?it/s]

In [4]:
## mAP calculation (non-class agnostic)
print (100 * "=")
print("Class-specific mAP")
print (100 * "=")
mAP_metric = MeanAveragePrecision(class_agnostic=False)
mAP_result=mAP_metric.update(predictions,targets).compute()
matched_classes=mAP_result.matched_classes.tolist()
print(f"Matched classes: {matched_classes}")

# Extract mAP values
mAP_50_95 = mAP_result.map50_95  # mAP 50:95
mAP_50 = mAP_result.map50  # mAP 50
mAP_75 = mAP_result.map75  # mAP 75
print(f"mAP 50:95: {mAP_50_95}, mAP 50: {mAP_50}, mAP 75: {mAP_75}")

# Extract class-wise mAP values
num_classes=3
final_class_wise_mAP = [0]*num_classes
class_wise_mAP=mAP_result.ap_per_class[:,0].tolist()
for cls, mAP in zip(matched_classes, class_wise_mAP):
    print(f"cls: {cls}, mAP: {mAP}")
    final_class_wise_mAP[cls] = mAP

# Compute class-agnostic mAP
print (100 * "=")
print("Class-agnostic mAP")
print (100 * "=")
mAP_metric_agnostic = MeanAveragePrecision(class_agnostic=True)
mAP_result_agnostic = mAP_metric_agnostic.update(predictions, targets).compute()
# Extract class-agnostic mAP values
mAP_50_95_agnostic = mAP_result_agnostic.map50_95  # mAP 50:95
mAP_50_agnostic = mAP_result_agnostic.map50  # mAP 50
mAP_75_agnostic = mAP_result_agnostic.map75  # mAP 75
print(f"CA mAP 50:95: {mAP_50_95_agnostic}, CA mAP 50: {mAP_50_agnostic}, CA mAP 75: {mAP_75_agnostic}")

====================================================================================================
Class-specific mAP
====================================================================================================
Matched classes: [1, 2]
mAP 50:95: 0.10210668122129343, mAP 50: 0.26138294661197825, mAP 75: 0.05222055363949167
cls: 1, mAP: 0.1598045666358175
cls: 2, mAP: 0.36296132658813907
====================================================================================================
Class-agnostic mAP
====================================================================================================
CA mAP 50:95: 0.20568566452620476, CA mAP 50: 0.5351419137891656, CA mAP 75: 0.08253122526465544

In [24]:
# # Define columns 
# columns = ["Model", "Class-agnostic mAP50"]

# # Create an empty DataFrame
# result_df = pd.DataFrame(columns=columns)

# # Append a new row
# new_row = [experiment] + [mAP_50_agnostic]
# result_df.loc[len(result_df)] = new_row  # Using loc to add the row

# # Display DataFrame
# display(result_df.style.hide(axis="index"))

In [5]:
columns=["Model","CFCBK", "FCBK", "Zigzag", "Class-agnostic AP"]
result_df = pd.DataFrame(columns=columns)
new_row = [experiment] + final_class_wise_mAP + [mAP_50_agnostic]
result_df.loc[len(result_df)] = new_row  # Using loc to add the row

# Display DataFrame
display(result_df.style.hide(axis="index"))

In [35]:
# result_df.to_csv(result_df_path, index=False)

In [7]:
# Save DataFrame
result=pd.read_csv(result_df_path)
result=result.reset_index(drop=True)
result = pd.concat([result, result_df], ignore_index=True)
display(result.style.hide(axis="index"))
result.to_csv(result_df_path, index=False)

In [8]:
result=pd.read_csv(result_df_path)
display(result.style.hide(axis="index"))

In [4]:
result=pd.read_csv(result_df_path)
result = result.iloc[:, [0, -1]]
display(result.style.hide(axis="index"))